@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<body style="background-color: #2E2E2E;">
    <div class="card container-fluid box" style="width: 700px; border-radius: 20px;">
        <div class="card-body">

            <nav class="nav-card bg-warning custom-nav">
                <ul class="nav nav-tabs">
                    <li class="nav-item col-md-6">
                        <a href="" class="nav-link active btn bg-warning border-0">Buyer</a>
                    </li>
                    <li class="nav-item col-md-6">
                        <a href="" class="nav-link btn">Seller</a>
                    </li>
                </ul>
            </nav>
            <br />

            <h1 class="display-7">@ViewData["Title"]</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                @*<h2>Create a new account.</h2>*@
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control bg-warning" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control bg-warning" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control bg-warning" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group d-flex justify-content-end">
                    <button id="registerSubmit" type="submit" class="btn btn-dark btn-lg text-warning w-25">Register</button>
                </div>
            </form>
        </div>
        @*<div class="col-md-6 col-md-offset-2">
            <section>
                <h3>Use another service to register.</h3>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
