@using FastTicket_Project.Models.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Event

@{
    ViewData["Title"] = "Event Details";

    // here are the tickets for displayed event
    var tickets = ViewBag.Tickets;
}

<body style="background-color: #2E2E2E">
    <div class="card container-fluid" style="width: 700px; border-radius: 20px;">
        <div class="card-body">
            <div class="container text-dark">
                <h1 class="text-center mt-3">@ViewData["Title"]</h1>
                <hr />
                <div class="form-group m-3">
                    @Html.LabelFor(ev => ev.Name, new { style = "margin-right: 120px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.Name)
                    <br />
                    @Html.LabelFor(ev => ev.Description, new { style = "margin-right: 52px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.Description)
                    <br />
                    @Html.LabelFor(ev => ev.StreetNumber, new { style = "margin-right: 22px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.StreetNumber)
                    <br />
                    @Html.LabelFor(ev => ev.StreetName, new { style = "margin-right: 49px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.StreetName)
                    <br />
                    @Html.LabelFor(ev => ev.PostalCode, new { style = "margin-right: 53px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.PostalCode)
                    <br />
                    @Html.LabelFor(ev => ev.City, new { style = "margin-right: 142px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.City)
                    <br />
                    @Html.LabelFor(ev => ev.Country, new { style = "margin-right: 95px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.Country)
                    <br />
                    @Html.LabelFor(ev => ev.Time, new { style = "margin-right: 132px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.Time)
                    <br />
                    @Html.LabelFor(ev => ev.Category, new { style = "margin-right: 82px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.Category)
                    <br />
                    @Html.LabelFor(ev => ev.ImageUrl, new { style = "color: #ffc107; font-size: 25px;" })
                    <br />
                    @Html.ValueFor(ev => ev.ImageUrl)
                    <br />
                    @Html.LabelFor(ev => ev.CreatedAt, new { style = "margin-right: 75px; margin-top: 10px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.CreatedAt)
                    <br />
                    @Html.LabelFor(ev => ev.ModifiedAt, new { style = "margin-right: 65px; color: #ffc107; font-size: 25px;" })
                    @Html.ValueFor(ev => ev.ModifiedAt)
                </div>
                <hr />
                <br />
                <h4 class="text-center bg-warning">Number of tickets for this event: @tickets.Count</h4>


                @foreach (Ticket ticket in tickets)
                {
                    <a class="btn btn-primary" asp-controller="Ticket" asp-action="Checkout" asp-route-id="@ticket.ID">Buy ticket id: @ticket.ID"</a>
                    <br>
                }

                <br />
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="form-group d-flex justify-content-end">
                        <a class="w-25 btn btn-dark text-warning mb-3" asp-controller="Ticket" asp-action="Create" asp-route-eventId="@Model.ID">Create Ticket</a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>