@using FastTicket_Project.Models.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<Event>

@{
    ViewData["Title"] = "Event Index";
    var dropDownText = ViewBag.category ?? "Select category";
}

<body style="background-color: #2E2E2E">
    <div class="card container-fluid" style="width: 1000px; border-radius: 20px;">
        <div class="card-body">

            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn btn-dark text-warning mb-4" asp-controller="Event" asp-action="Create">Create New</a>
            }

            <form action="">
                <input class="form-control" type="text" placeholder="Search.." name="search" value="@ViewBag.search">

                @Html.DropDownList("Category", Html.GetEnumSelectList(typeof(EventCategory)), "Select Category", new { @class = "form-control mb-4" })

                <input class="form-control" type="text" placeholder="Country" name="country" value="@ViewBag.country">

                <input class="form-control" type="text" placeholder="City" name="city" value="@ViewBag.city">

                @Html.DropDownList("Sort", Html.GetEnumSelectList(typeof(EventSortingOptions)), "Select Sorting Option", new { @class = "form-control mb-4" })

                <div class="form-group d-flex justify-content-end">
                    <button type="submit" class="btn btn-dark text-warning mt-3">Search</button>
                </div>

            </form>
        </div>
    </div>

    <br />
    <br />
    <br />



    @*<div class="container text-light">
            <table class="table table-responsive table-warning table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Street Number</th>
                        <th scope="col">Street Name</th>
                        <th scope="col">Postal Code</th>
                        <th scope="col">City</th>
                        <th scope="col">Country</th>
                        <th scope="col">Time</th>
                        <th scope="col">Category</th>
                        <th scope="col">Image Url</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Modified At</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Event e in Model)
                    {
                        <tr>
                            <th scope="row">@e.ID</th>
                            <td>@e.Name</td>
                            <td>@e.Description</td>
                            <td>@e.StreetNumber</td>
                            <td>@e.StreetName</td>
                            <td>@e.PostalCode</td>
                            <td>@e.City</td>
                            <td>@e.Country</td>
                            <td>@e.Time</td>
                            <td>@e.Category</td>
                            <td>@e.ImageUrl</td>
                            <td>@e.CreatedAt</td>
                            <td>@e.ModifiedAt</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <br />*@

    @foreach (Event e in Model)
    {
        <div class="card container-fluid" style="background-color: transparent; border-radius: 20px;">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <div class="img-container-event">
                        <img class="img-fluid customizedtext-yellow" src=@e.ImageUrl alt="Event Image Cap" />
                    </div>
                </div>
                <div class="col-md-2" style="margin-left: 10px;">
                    <h4 class="card-title mt-2 mb-0" style="color: #FFF571;">@e.Time.ToString("MMM") @e.Time.Day</h4>
                    <p class="customizedtext-white">@e.Time.ToString("ddd") - @e.Time.ToString("h:mmtt")</p>
                </div>
                <div class="col-md-5">
                    <h4 class="card-title mt-2 mb-0 customizedtext-yellow">@e.Name</h4>
                    <p class="customizedtext-white">@e.Country</p>
                </div>
                <div class="col-md-2" style="display:flex; align-items: center; justify-content:center;">
                    <a class="btn btn-dark text-warning" asp-controller="Event" asp-action="GetOne" asp-route-id="@e.ID">See Tickets</a>
                </div>
            </div>
        </div>
        <div style="border-bottom: 1px solid #FFD12F; padding-bottom: 10px; margin-bottom: 13px;"></div>
    }
    <br />
    <br />
</body>

