@using FastTicket_Project.Models.DataTransferModels.Event
@using FastTicket_Project.Models.Entities
@model Event

@{
    ViewData["Title"] = "Create Event";
}

<div class="container text-light">
    <form method="post">
        @Html.ValidationSummary()
        <br />
        @Html.LabelFor(ev => ev.Name)
        @Html.EditorFor(ev => ev.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(ev => ev.Name)
        <br />
        @Html.LabelFor(ev => ev.Description)
        @Html.EditorFor(ev => ev.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(ev => ev.Description)
        <br />
        @Html.LabelFor(ev => ev.StreetNumber)
        @Html.EditorFor(ev => ev.StreetNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(ev => ev.StreetNumber)
        <br />
        @Html.LabelFor(ev => ev.StreetName)
        @Html.EditorFor(ev => ev.StreetName, new { @class = "form-control" })
        @Html.ValidationMessageFor(ev => ev.StreetName)
        <br />
        @Html.LabelFor(ev => ev.PostalCode)
        @Html.EditorFor(ev => ev.PostalCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(ev => ev.PostalCode)
        <br />
        @Html.LabelFor(ev => ev.City)
        @Html.EditorFor(ev => ev.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(ev => ev.City)
        <br />
        @Html.LabelFor(ev => ev.Country)
        @Html.EditorFor(ev => ev.Country, new { @class = "form-control" })
        @Html.ValidationMessageFor(ev => ev.Country)
        <br />
        @Html.LabelFor(ev => ev.Time)
        @Html.EditorFor(ev => ev.Time, new { @class = "form-control" })
        @Html.ValidationMessageFor(ev => ev.Time)
        <br />
        @Html.LabelFor(ev => ev.Category)
        @Html.DropDownList("Category", Html.GetEnumSelectList(typeof(EventCategory)), "Select Category", new { @class = "form-control" })
        @Html.ValidationMessageFor(ev => ev.Category)
        <br />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
