@using FastTicket_Project.Models.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Ticket>

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Ticket Index";
}

<div class="text-light" style="background-color: transparent;">
    <br/>
    <table class="table table-striped">
        <thead style="color: white; text-align: center;">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">User Id</th>
                <th scope="col">Event Id</th>
                <th scope="col">Price</th>
                <th scope="col">On Sale</th>
                <th scope="col">Created At</th>
                <th scope="col">Modified At</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            @foreach (Ticket e in Model)
            {
                <tr style="color: #ffc107;">
                    <th style="vertical-align: middle;" scope="row">@e.ID</th>
                    <td style="vertical-align: middle;">@e.UserID</td>
                    <td style="vertical-align: middle;">@e.EventID</td>
                    <td style="vertical-align: middle;">@e.Price</td>
                    <td style="vertical-align: middle;">@e.OnSale</td>
                    <td style="vertical-align: middle;">@e.CreatedAt</td>
                    <td style="vertical-align: middle;">@e.ModifiedAt</td>
                    <td style="vertical-align: middle;">
                        @if (currentUser!.Id == e.UserID)
                            {
                            <a class="btn btn-primary" asp-controller="Ticket" asp-action="Update" asp-route-id="@e.ID">Edit</a>
                            }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
