@using FastTicket_Project.Models.DataTransferModels.Ticket
@using FastTicket_Project.Models.Entities
@model CreateTicketData

@{
    ViewData["Title"] = "History";

    var sellTransactions = ViewBag.SellTransactions; // a list of selling transactions
    var buyTransactions = ViewBag.BuyTransactions; // a list of buying transactions
}

<body style="background-color: #2E2E2E">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 vh-100">
                <div class="vh-100">
                    @foreach (Transaction item in buyTransactions)
                    {
                        <div class="card text-white bg-info">
                            <div class="card-header text-center">Bought from <span style="font-weight: bold;">@item.Seller</span></div>
                            <div class="card-body">
                                <h5 class="card-title text-center">@item.TicketID</h5>
                                <h6>@item.Ticket</h6>
                                <h6>$@item.Price</h6>
                                <h6>Seller received balance: @item.SellerReceivedBalance</h6>
                            </div>
                            <div class="card-footer text-center">On @item.CreatedAt</div>
                        </div>
                        <div style="margin-top: 20px;"></div>
                    }
                </div>
            </div>

            <div class="col-lg-6 vh-100">
                <div class="vh-100">
                    @foreach (Transaction item in sellTransactions)
                    {
                        <div class="card customizedtext-yellow bg-secondary">
                            <div class="card-header text-center">Sold to <span style="font-weight: bold;">@item.Buyer</span></div>
                            <div class="card-body">
                                <h5 class="card-title text-center">@item.TicketID</h5>
                                <h6>@item.Ticket</h6>
                                <h6>$@item.Price</h6>
                                <h6>Seller received balance: @item.SellerReceivedBalance</h6>
                            </div>
                            <div class="card-footer text-center">On @item.CreatedAt</div>
                        </div>
                        <div style="margin-top: 20px;"></div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>